In [12]:
### handle links?  after splitting words, if contains http, remove
### #hashtag_words look like they're valuable

### visualizations - word clouds by target?
### Lemmatize - removed past tense?
### If word contains unknown characters, remove?
### Lower case characters
### %20 is a space
### remove extra letters from keywords to extract the keywords - wildfires > fire

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r'nlp-getting-started/train.csv')

In [4]:
df

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7608,10869,NaN,NaN,Two giant cranes holding a bridge collapse int...,1
7609,10870,NaN,NaN,@aria_ahrary @TheTawniest The out of control w...,1
7610,10871,NaN,NaN,M1.94 [01:04 UTC]?5km S of Volcano Hawaii. htt...,1
7611,10872,NaN,NaN,Police investigating after an e-bike collided ...,1
7612,10873,NaN,NaN,The Latest: More Homes Razed by Northern Calif...,1

In [56]:
df['keyword'].value_counts().tail(50)

destroyed                32
detonation               32
cyclone                  32
drown                    32
survive                  32
electrocute              32
apocalypse               32
eyewitness               32
blight                   32
mass%20murderer          32
forest%20fires           32
arson                    32
hijacking                32
hailstorm                32
trauma                   31
obliterate               31
devastated               31
hostage                  31
terrorist                31
obliterated              31
suicide%20bomber         31
crushed                  31
wild%20fires             31
catastrophic             30
mayhem                   30
avalanche                30
dead                     30
bioterrorism             30
survivors                30
annihilation             29
bombing                  29
obliteration             29
sirens                   29
snowstorm                29
desolate                 29
seismic                  29
first%20responders       29
rubble                   28
demolished               28
deluged                  27
volcano                  27
battle                   26
bush%20fires             25
war%20zone               24
rescue                   22
forest%20fire            19
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Name: keyword, dtype: int64

In [55]:
df['location'].value_counts().tail(50)

Chicagoland                       1
New Delhi                         1
Minneapolis,MN,US                 1
Chicago, IL                       1
Quilmes , Arg                     1
Richmond, VA                      1
Romania                           1
???????? ?????????.               1
Queens New York                   1
Cuttack, Orissa                   1
Patra-Greece.                     1
All Around the World              1
Valle Del Sol                     1
New York NYC                      1
Hickville, USA                    1
Silesia, Poland                   1
Balikesir - Eskisehir             1
??????? ??????? ????????          1
Soul Somalia/Body Montreal        1
Yooooooo                          1
Jersey                            1
ÌÏT: 19.123127,72.825133          1
denver colorado                   1
Milton/Tallahassee                1
Paname City                       1
KÌ¦ln, Nordrhein-Westfalen        1
Broomfield, CO                    1
In my studio                      1
BodÌü, Norge                      1
North Port, FL                    1
Paulton, England                  1
Johannesburg                      1
Alvin, TX                         1
Wilbraham, MA                     1
Jerseyville, IL                   1
The Citadel, Oldtown, Westeros    1
Trackside California              1
he/him or she/her (ask)           1
Some pum pum                      1
SEA Server                        1
Waco, Texas                       1
todaysbigstock.com                1
buenos aires argentina            1
everydaynigerian@gmail.com        1
Surulere Lagos,Home Of Swagg      1
MontrÌ©al, QuÌ©bec                1
Montreal                          1
ÌÏT: 6.4682,3.18287               1
Live4Heed??                       1
Lincoln                           1
Name: location, dtype: int64

In [66]:
df[['keyword',"target"]].value_counts().head(50)

keyword              target
body%20bags          0         40
outbreak             1         39
wreckage             1         39
derailment           1         39
armageddon           0         37
typhoon              1         37
harm                 0         37
debris               1         37
oil%20spill          1         37
ruin                 0         36
deluge               0         36
wrecked              0         36
fear                 0         35
twister              0         35
explode              0         35
siren                0         35
panic                0         34
aftershock           0         34
screaming            0         34
blizzard             0         33
blaze                0         33
blazing              0         33
traumatised          0         33
crush                0         33
sinking              0         33
rescuers             1         32
suicide%20bomb       1         32
hellfire             0         32
suicide%20bombing    1         32
curfew               0         32
bloody               0         32
body%20bag           0         32
evacuated            1         32
upheaval             0         32
smoke                0         31
nuclear%20disaster   1         31
panicking            0         31
collide              0         31
electrocute          0         31
blew%20up            0         31
razed                1         31
wreck                0         30
screamed             0         30
blood                0         30
blight               0         30
stretcher            0         30
earthquake           1         30
bleeding             0         30
suicide%20bomber     1         30
airplane%20accident  1         30
dtype: int64

In [8]:
df['target'].value_counts()

0    4342
1    3271
Name: target, dtype: int64

In [10]:
df.loc[df['target'] == 0][:5]

    id keyword location                          text  target
15  23     NaN      NaN                What's up man?       0
16  24     NaN      NaN                 I love fruits       0
17  25     NaN      NaN              Summer is lovely       0
18  26     NaN      NaN             My car is so fast       0
19  28     NaN      NaN  What a goooooooaaaaaal!!!!!!       0

In [13]:
df.loc[df['target'] == 1][:-5]

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1
...,...,...,...,...,...
7603,10862,NaN,NaN,Officials say a quarantine is in place at an A...,1
7604,10863,NaN,NaN,#WorldNews Fallen powerlines on G:link tram: U...,1
7605,10864,NaN,NaN,on the flip side I'm at Walmart and there is a...,1
7606,10866,NaN,NaN,Suicide bomber kills 15 in Saudi security site...,1
7607,10867,NaN,NaN,#stormchase Violent Record Breaking EF-5 El Re...,1

In [25]:
### figure out how to remove ÛÓ
test = "Û"

In [26]:
ord(test)

219

In [20]:
ord("O")

79

In [21]:
ord("z")

122

In [22]:
ord("Z")

90

In [27]:
if ord(test) >122:
    print(True)

True

In [28]:
ord("a")

97

In [29]:
ord("A")

65

In [30]:
ord("!")

33

In [31]:
ord("#")

35

In [32]:
ord("?")

63

In [33]:
ord("5")

53

In [51]:
chr(60)

'<'